.Rproj.user
.Rhistory
.RData
.Ruserdata
.positai
homepage_old/
.DS_Store
preview/
preview-basic.css
site_docs/
test-results/
Akadmie_project_Baumgartner draft.docx
Peder Sather Grant.docx
SciencePart_baumgartner.pdf
Michael-portrait.jpg
Michael.png
